---
import calculadora from "../assets/calc.svg";
import sun from "../assets/sun2.svg";
import rayo from "../assets/rayo.svg";
import chat from "../assets/chat.svg";
import money from "../assets/money.svg";
import waves from "../assets/waves.svg";
import pool from "../assets/swimming-pool.svg";
import solarpanel from "../assets/solar-panel.svg";
import tool from "../assets/screwdriver.svg";
---

<div
  style={{
    position: "relative",
    backgroundColor: "#15297c",
    backgroundAttachment: "fixed",
    backgroundSize: "cover",
    backgroundPosition: "center",
    marginLeft: 0,
    marginRight: 0,
    width: "100%",
    height: "fit-content",
  }}>
  <br />
  <br />
  <p class="text-center text-4xl text-[#e0971a]">¿QUÉ HACEMOS?</p>
  <br />
  <br />
  <p class="text-white text-center text-5xl tracking-wider">
    Productos y Servicios
  </p>
  <br /><br />
  <p class="text-white text-center text-lg line-clamp-3 sm:text-lg">
    En nuestra oferta encontrarás una variedad de productos y servicios
    diseñados para ayudar a clientes de todo tipo a optimizar su consumo
    eléctrico en México.
  </p>
  <br />
  <br />
  <br />
  <div
    class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-6 items-center">
    <!-- Inicio del primer elemento -->
    <div class="flex flex-col items-center">
      <img src={solarpanel.src} alt="" />
      <p class="text-center mt-4 text-white text-2xl">Paneles solares</p>
    </div>

    <div class="flex flex-col items-center text-white">
      <img src={tool.src} alt="" />
      <p class="text-center mt-2 text-2xl">Instalacion y mantenimiento</p>
    </div>

    <div class="flex flex-col items-center text-white">
      <img src={calculadora.src} alt="" />
      <p class="text-center mt-2 text-2xl">Monitoreo de consumo</p>
    </div>
  </div>
  <br />
  <br />
  <div
    class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-5 gap-4 items-center">
    <!-- Elemento existente -->
    <div class="flex flex-col items-center text-white">
      <!-- Nuevo elemento -->
    </div>
    <div class="flex flex-col items-center text-white">
      <img src={chat.src} alt="" />
      <p class="text-center mt-2 text-2xl">Asesoría y consultoría</p>
    </div>
    <div class="flex flex-col items-center text-white">
      <!-- Nuevo elemento -->
    </div>
    <!-- Elemento existente -->
    <div class="flex flex-col items-center text-white">
      <img src={money.src} alt="" />
      <p class="text-center mt-2 text-2xl">Venta de equipo</p>
    </div>

    <!-- Elementos adicionales vacíos -->
    <div class="flex flex-col items-center text-white">
      <!-- Nuevo elemento -->
    </div>
  </div>
  <br />
  <br />
  <br />
</div>
