---
import calculadora from '../assets/calc.svg'
import sun from '../assets/sun2.svg'
import rayo from '../assets/rayo.svg'
import chat from '../assets/chat.svg'
import money from '../assets/money.svg'
import waves from '../assets/waves.svg'
import pool from '../assets/swimming-pool.svg'
import solarpanel from '../assets/solar-panel.svg'
import tool from '../assets/screwdriver.svg'
---


  <div style={{position: 'relative', backgroundColor:'#15297c', backgroundAttachment: 'fixed', backgroundSize: 'cover', backgroundPosition: 'center', marginLeft: 0, marginRight: 0, width:'100%', height: 'fit-content'}}>
    <br>

    <p class="text-center text-4xl text-orange-400">¿QUE HACEMOS?</p>
    <br>
    <p class="text-white text-center text-5xl tracking-wider">Productos y Servicios</p>
    <br><br>
    <p class="text-white text-center text-lg line-clamp-3 sm:text-lg">Ofrecemos diferentes productos y servicios para todo tipo de clientes que buscan eficientizar su consumo eléctrico en México.</p>
    <br>
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Inicio del primer elemento -->
        <div class="flex flex-col items-center">
            <img src={solarpanel.src} alt="" />
          <p class="text-center mt-4 text-white text-2xl">Paneles solares</p>
        </div>
        <!-- Inicio del segundo elemento -->
        <div class="flex flex-col items-center text-white">
            <img src={waves.src} alt="" />
          <p class="text-center mt-2 text-2xl">Boilers solares</p>
        </div>
        <!-- Fin del segundo elemento -->
        <div class="flex flex-col items-center text-white">
            <img src={pool.src} alt="" />
            <p class="text-center mt-2 text-2xl">Calentadores solares para albercas</p>
        </div>

        <div class="flex flex-col items-center text-white">
            <img src={tool.src} alt="" />
            <p class="text-center mt-2 text-2xl">Instalacion y mantenimiento</p>
        </div>

        <div class="flex flex-col items-center text-white">
            <img src={calculadora.src} alt="" />
            <p class="text-center mt-2 text-2xl">Monitoreo de consumo</p>
        </div>

        <div class="flex flex-col items-center text-white">
            <img src={sun.src} alt="" />
            <p class="text-center mt-2   text-2xl">Sistemas solares aislados</p>
        </div>


        <div class="flex flex-col items-center text-white">
            <img src={chat.src} alt="" />
            <p class="text-center mt-2 text-2xl">Asesoría y consultoría</p>
        </div>

        <div class="flex flex-col items-center text-white">
            <img src={money.src} alt="" />
            <p class="text-center mt-2 text-2xl">Venta de equipo</p>
        </div>

        <div class="flex flex-col items-center text-white">
            <img src={rayo.src} alt="" />
            <p class="text-center mt-2 text-2xl">Bombeo Solar</p>
        </div>
      
        <!-- Y así sucesivamente... -->
      </div>
      <br>
      <br>
</div>